Frontend/App_WebReferences/WDrive/WDriveApiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://api/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WDriveApiService" targetNamespace="http://api/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WDrive/WDriveApiService?xsd=1" namespace="http://api/" />
    </xsd:schema>
  </types>
  <message name="getTotalSpace">
    <part name="parameters" element="tns:getTotalSpace" />
  </message>
  <message name="getTotalSpaceResponse">
    <part name="parameters" element="tns:getTotalSpaceResponse" />
  </message>
  <message name="listFiles">
    <part name="parameters" element="tns:listFiles" />
  </message>
  <message name="listFilesResponse">
    <part name="parameters" element="tns:listFilesResponse" />
  </message>
  <message name="createFile">
    <part name="parameters" element="tns:createFile" />
  </message>
  <message name="createFileResponse">
    <part name="parameters" element="tns:createFileResponse" />
  </message>
  <message name="copyFile">
    <part name="parameters" element="tns:copyFile" />
  </message>
  <message name="copyFileResponse">
    <part name="parameters" element="tns:copyFileResponse" />
  </message>
  <message name="fileExists">
    <part name="parameters" element="tns:fileExists" />
  </message>
  <message name="fileExistsResponse">
    <part name="parameters" element="tns:fileExistsResponse" />
  </message>
  <message name="deleteFile">
    <part name="parameters" element="tns:deleteFile" />
  </message>
  <message name="deleteFileResponse">
    <part name="parameters" element="tns:deleteFileResponse" />
  </message>
  <message name="getCurrentDirname">
    <part name="parameters" element="tns:getCurrentDirname" />
  </message>
  <message name="getCurrentDirnameResponse">
    <part name="parameters" element="tns:getCurrentDirnameResponse" />
  </message>
  <message name="getAvailableSpace">
    <part name="parameters" element="tns:getAvailableSpace" />
  </message>
  <message name="getAvailableSpaceResponse">
    <part name="parameters" element="tns:getAvailableSpaceResponse" />
  </message>
  <message name="searchFile">
    <part name="parameters" element="tns:searchFile" />
  </message>
  <message name="searchFileResponse">
    <part name="parameters" element="tns:searchFileResponse" />
  </message>
  <message name="loadAccount">
    <part name="parameters" element="tns:loadAccount" />
  </message>
  <message name="loadAccountResponse">
    <part name="parameters" element="tns:loadAccountResponse" />
  </message>
  <message name="cutFile">
    <part name="parameters" element="tns:cutFile" />
  </message>
  <message name="cutFileResponse">
    <part name="parameters" element="tns:cutFileResponse" />
  </message>
  <message name="createDir">
    <part name="parameters" element="tns:createDir" />
  </message>
  <message name="createDirResponse">
    <part name="parameters" element="tns:createDirResponse" />
  </message>
  <message name="accessDir">
    <part name="parameters" element="tns:accessDir" />
  </message>
  <message name="accessDirResponse">
    <part name="parameters" element="tns:accessDirResponse" />
  </message>
  <message name="createAccount">
    <part name="parameters" element="tns:createAccount" />
  </message>
  <message name="createAccountResponse">
    <part name="parameters" element="tns:createAccountResponse" />
  </message>
  <message name="pasteFile">
    <part name="parameters" element="tns:pasteFile" />
  </message>
  <message name="pasteFileResponse">
    <part name="parameters" element="tns:pasteFileResponse" />
  </message>
  <message name="shareFile">
    <part name="parameters" element="tns:shareFile" />
  </message>
  <message name="shareFileResponse">
    <part name="parameters" element="tns:shareFileResponse" />
  </message>
  <message name="openFile">
    <part name="parameters" element="tns:openFile" />
  </message>
  <message name="openFileResponse">
    <part name="parameters" element="tns:openFileResponse" />
  </message>
  <portType name="WDriveApi">
    <operation name="getTotalSpace">
      <input wsam:Action="http://api/WDriveApi/getTotalSpaceRequest" message="tns:getTotalSpace" />
      <output wsam:Action="http://api/WDriveApi/getTotalSpaceResponse" message="tns:getTotalSpaceResponse" />
    </operation>
    <operation name="listFiles">
      <input wsam:Action="http://api/WDriveApi/listFilesRequest" message="tns:listFiles" />
      <output wsam:Action="http://api/WDriveApi/listFilesResponse" message="tns:listFilesResponse" />
    </operation>
    <operation name="createFile">
      <input wsam:Action="http://api/WDriveApi/createFileRequest" message="tns:createFile" />
      <output wsam:Action="http://api/WDriveApi/createFileResponse" message="tns:createFileResponse" />
    </operation>
    <operation name="copyFile">
      <input wsam:Action="http://api/WDriveApi/copyFileRequest" message="tns:copyFile" />
      <output wsam:Action="http://api/WDriveApi/copyFileResponse" message="tns:copyFileResponse" />
    </operation>
    <operation name="fileExists">
      <input wsam:Action="http://api/WDriveApi/fileExistsRequest" message="tns:fileExists" />
      <output wsam:Action="http://api/WDriveApi/fileExistsResponse" message="tns:fileExistsResponse" />
    </operation>
    <operation name="deleteFile">
      <input wsam:Action="http://api/WDriveApi/deleteFileRequest" message="tns:deleteFile" />
      <output wsam:Action="http://api/WDriveApi/deleteFileResponse" message="tns:deleteFileResponse" />
    </operation>
    <operation name="getCurrentDirname">
      <input wsam:Action="http://api/WDriveApi/getCurrentDirnameRequest" message="tns:getCurrentDirname" />
      <output wsam:Action="http://api/WDriveApi/getCurrentDirnameResponse" message="tns:getCurrentDirnameResponse" />
    </operation>
    <operation name="getAvailableSpace">
      <input wsam:Action="http://api/WDriveApi/getAvailableSpaceRequest" message="tns:getAvailableSpace" />
      <output wsam:Action="http://api/WDriveApi/getAvailableSpaceResponse" message="tns:getAvailableSpaceResponse" />
    </operation>
    <operation name="searchFile">
      <input wsam:Action="http://api/WDriveApi/searchFileRequest" message="tns:searchFile" />
      <output wsam:Action="http://api/WDriveApi/searchFileResponse" message="tns:searchFileResponse" />
    </operation>
    <operation name="loadAccount">
      <input wsam:Action="http://api/WDriveApi/loadAccountRequest" message="tns:loadAccount" />
      <output wsam:Action="http://api/WDriveApi/loadAccountResponse" message="tns:loadAccountResponse" />
    </operation>
    <operation name="cutFile">
      <input wsam:Action="http://api/WDriveApi/cutFileRequest" message="tns:cutFile" />
      <output wsam:Action="http://api/WDriveApi/cutFileResponse" message="tns:cutFileResponse" />
    </operation>
    <operation name="createDir">
      <input wsam:Action="http://api/WDriveApi/createDirRequest" message="tns:createDir" />
      <output wsam:Action="http://api/WDriveApi/createDirResponse" message="tns:createDirResponse" />
    </operation>
    <operation name="accessDir">
      <input wsam:Action="http://api/WDriveApi/accessDirRequest" message="tns:accessDir" />
      <output wsam:Action="http://api/WDriveApi/accessDirResponse" message="tns:accessDirResponse" />
    </operation>
    <operation name="createAccount">
      <input wsam:Action="http://api/WDriveApi/createAccountRequest" message="tns:createAccount" />
      <output wsam:Action="http://api/WDriveApi/createAccountResponse" message="tns:createAccountResponse" />
    </operation>
    <operation name="pasteFile">
      <input wsam:Action="http://api/WDriveApi/pasteFileRequest" message="tns:pasteFile" />
      <output wsam:Action="http://api/WDriveApi/pasteFileResponse" message="tns:pasteFileResponse" />
    </operation>
    <operation name="shareFile">
      <input wsam:Action="http://api/WDriveApi/shareFileRequest" message="tns:shareFile" />
      <output wsam:Action="http://api/WDriveApi/shareFileResponse" message="tns:shareFileResponse" />
    </operation>
    <operation name="openFile">
      <input wsam:Action="http://api/WDriveApi/openFileRequest" message="tns:openFile" />
      <output wsam:Action="http://api/WDriveApi/openFileResponse" message="tns:openFileResponse" />
    </operation>
  </portType>
  <binding name="WDriveApiPortBinding" type="tns:WDriveApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getTotalSpace">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listFiles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="copyFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="fileExists">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCurrentDirname">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAvailableSpace">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="loadAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cutFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createDir">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="accessDir">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pasteFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="shareFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="openFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WDriveApiService">
    <port name="WDriveApiPort" binding="tns:WDriveApiPortBinding">
      <soap:address location="http://localhost:8080/WDrive/WDriveApiService" />
    </port>
  </service>
</definitions>